@import "colors/colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Rubik", "JetBrainsMono Nerd Font Propo",
    "Noto Sans CJK JP", "Noto Sans CJK KR";
  font-size: 15px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(10, 10, 10, 0.65);
  padding: 8px;
  border-radius: 0;
  box-shadow: none;
}

tooltip {
  background: rgba(0,0,0,0.00);
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background: rgba(0,0,0,0.00);
  padding: 2px 4px;
  margin: 2px 10px;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(
    135deg,
    @bg0 0%,
    alpha(@primary, 0.4) 50%,
    @primary 100%
  );

  color: @fg;
  min-width: 36px;

  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @bg3;
  color: @fg;
}

#workspaces button.urgent {
  background-color: @primary;
  color: @bg0;
}

#battery,
#pulseaudio,
#backlight,
#custom-pacman,
#network,
#clock,
#custom-weather,
#custom-media,
#window,
#custom-launcher,
#custom-notification,
#submap,
#power-profiles-daemon,
#custom-home-folder {
  background-color: rgba(0,0,0,0.00);
  padding: 0 6px;
  margin: 0 5px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

#clock {
  color: @fg;
  margin: 0;
}

#power-profiles-daemon {
  color: @fg;
}

#pulseaudio {
  color: @fg;
  margin-left: 0;
  font-size: 17px;
}

#network {
  color: @fg;
  font-size: 14px;
}

#battery {
  color: @secondary;
  margin-right: 0;
}

#custom-rec {
  color: @fg;
  margin-left: 8px;
  padding-right: 16px;
  padding-bottom: 2px;
}

#custom-rec.active {
  color: @primary;
  animation: blink 0.3s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}
